<!-- <% layout("/layouts/boilerplate") %>

  <body>
    <div class="row mt-5">
      <div class="col-8 offset-3">
        <b>
            <%=listing.title %>
            <br />
        </b>
      </div>
      <div class="card col-6 offset-3 mb-3 show card listing-card">
        <br />

        <img src="<%=listing.image.url %>" class="card-img-top show-img" alt="listing-image" />
        <br /><br />
        <div class="card-body">
          <p class="card-text"> Owned By:-<i>
              <%=listing.owner.username %>
            </i></p>

          <p class="card-text">
            <%=listing.description %>
          </p>

          <p class="card-text"> &#8377;<%=listing.price.toLocaleString("en-IN") %> </p>

          <p class="card-text">
            <%=listing.location %>
          </p>

          <p class="card-text">
            <%=listing.country %>
          </p>

        </div>
      </div>

      <br />

      <% if(currUser && currUser._id.equals(listing.owner._id)){ %>

        <div class="btns mb-4">
          <a href="/listings/<%=listing._id %>/edit" class="btn btn-dark col-1 offset-3">
            Edit
          </a>

          <form action="/listings/<%=listing._id  %>?method=Delete" method="POST">
            <button class="btn btn-dark offset-5">Delete</button>
          </form>
        </div>

        <% } %>
          <hr />



          <div class="col-8 offset-3 mb-5">
            <% if(currUser){ %>


              <h4>Leave a review</h4>

              <form action="/listings/<%=listing.id %>/reviews" method="POST" novalidate class="needs-validation">
                <div class="mb-3 mt-3">
                  <label for="rating" class="form-label">Rating</label>
                  <input type="range" min="1" max="5" id="rating" name="review[rating] " class="form-range" />
                </div>



                <div class="mb-3 mt-3">
                  <label for="comment" class="form-label"> Comments</label>
                  <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control"
                    required></textarea>

                  <div class="invalid-feedback">
                    Please add some comments for review
                  </div>
                </div>

                <button class="btn btn-outline-dark">Submit</button>
              </form>

              <hr />

              <% } %>


                <p>
                  <b>
                    <h4>All Reviews :-</h4>
                  </b>
                </p>
                <div class="row">

                  <% for(review of listing.reviews){ %>

                    <div class="card col-5 ms-3 mb-3">
                      <div class="card-body">
                        <h5 class="card-title">
                          <%= review.author.username %>
                        </h5>
                        <p class="card-text">
                          <%=review.comment %>
                        </p>
                        <p class="card-text">
                          <%=review.rating %> stars
                        </p>
                      </div>

                      <form action="/listings/<%=listing._id  %>/reviews/<%=review._id %>/?method=Delete" method="POST">

                        <button class="btn btn-sm btn-dark">delete</button>


                      </form>
                    </div>

                    <% } %>
                </div>
          </div>
          <br />
    </div>
  </body> -->




<!-- new code hereeeeeeee -->

<link rel="stylesheet" href="/css/show.css">


<style>
  h1 {

    color: #024950;
    ;
  }




  .arrange {

    text-decoration: underline;
  }


.showing{

  padding-left: 1rem ;
}



  .showing,
  .locating,
  .displaying {


    padding-left: 1.5rem;
    padding-right: 1.5rem;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .form-label {
    font-weight: bold;
  }

  .btn-outline-dark {
    border: 1px solid #000;
    color: #000;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }

  .btn-outline-dark:hover {
    background-color: #000;
    color: #fff;
  }

  .starability-slot input[type="radio"] {
    display: none;
  }

  
  .card {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    overflow: hidden;
  }

  .card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .card-text {
    font-size: 1rem;
  }

  /* Media Queries for Different Screen Sizes */
  /* Mobile Devices */
  @media (max-width: 575.98px) {

    .form-control,
    .btn-outline-dark {
      font-size: 0.875rem;
    }

    .starability-slot {
      font-size: 1.2rem;
    }

    .card {
      margin: 0.5rem;
    }

    .card-body {
      padding: 1rem;
    }

    .card-title {
      font-size: 1rem;
    }

    .card-text {
      font-size: 0.875rem;
    }
  }

  /* Tablets */
  @media (min-width: 576px) and (max-width: 767.98px) {

    .form-control,
    .btn-outline-dark {
      font-size: 1rem;
    }

    .starability-slot {
      font-size: 1.3rem;
    }

  }

  /* Desktop */
  @media (min-width: 768px) {

    .form-control,
    .btn-outline-dark {
      font-size: 1rem;
    }

    .starability-slot {
      font-size: 1.4rem;
    }

  }



  .reviewcard {

    display: inline-block;
    align-items: center;
    align-content: center;
    font-size: 1rem;

    width: auto;
  }

  .reviewbody{

    
  }



</style>

<% layout("/layouts/boilerplate") %>

  <script>

    const mapToken = "<%=process.env.MAP_TOKEN %>";

    const coordinates =<%- JSON.stringify(listing.geometry.coordinates) %>;
    // const listing =<%- JSON.stringify(listing) %>;

  </script>

  
  <div class="row mt-3 mb-3 showing">
    <div class="col-8 offset-3 showing2">
      <h1>
        <%=listing.title %>
      </h1>
    </div>
    <div class="card col-6 offset-3 show-card listing-card problem">
      <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
      <br>
      <div class="card-body">
        <p class="card-text">Owned by <i>
            <b>
              <%= listing.owner.username %>
            </b>
          </i></p>

        <p class="card-text">
          <%= listing.description %>
        </p>
        <p class="card-text arrange ">&#8377; <%= listing.price.toLocaleString("en-IN") %>
        </p>
        <p class="card-text arrange">
          <%= listing.location %>
        </p>
        <p class="card-text arrange">
          <%= listing.country %>
        </p>
      </div>
    </div>
    <br>

    <% if(currUser && listing.owner._id.equals(currUser._id)) { %>
      <div class="btns">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>


        <form action="/listings/<%=listing._id  %>?method=Delete" method="POST">
          <button class="btn btn-dark offset-5">Delete</button>
        </form>
      </div>


      <!-- <form method="POST" action="/listings/<%=listing._id%>?_method=Delete">
          <button class="btn btn-dark offset-5">Delete</button>
        </form> -->
  </div>




  <% } %>
    <div class="col-8 offset-3 mb-3 displaying ">
      <% if(currUser) { %>
        <hr>

        <h4>Leave a Review</h4>
        <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate class="needs-validation">

          <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rating</label>
            <fieldset class="starability-slot">

              <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                aria-label="No rating." />
              <input type="radio" id="first-rate1" name="review[rating]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="review[rating]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="review[rating]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="review[rating]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="review[rating]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          </div>

          <div class="mb-3 mt-3">
            <label for="comment" class="form-label">Comments</label>
            <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
            <div class="invalid-feedback">Place add some comments for review </div>
          </div>
          <button class="btn btn-outline-dark">Submit</button>
        </form>
        <hr>
        <% } %>



          <% if (listing.reviews.length> 0) {%>
            <div class="row">


              <p><b>All Reviews</b></p>
              <% for(review of listing.reviews) { %>
                <div class="card col-5 ms-3 mb-3 reviewcard">
                  <div class="card-body reviewbody">
                    <h5 class="card-title">@<%= review.author.username %>
                    </h5>
                    <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
                    <p class="card-text">
                      <%= review.comment %>
                    </p>

                  </div>


                  <form action="/listings/<%=listing._id  %>/reviews/<%=review._id %>/?method=Delete" method="POST">

                    <!-- <form class="mb-3" method="POST"
                      action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=Delete"> -->
                    <button class="btn btn-sm btn-dark">Delete</button>
                  </form>
                </div>
                <% } %>
            </div>
            <% } %>




    </div>


    </div>

    <div class="col-8 offset-3 mb-5 locating">


      <h3> Where you'll be</h3>
      <br>

      <div id="map"></div>
    </div>

    <script src="/js/map.js"></script>